* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Moo', 'IBM Plex Mono', monospace;
}

main {
    width: 50%;
    max-width: 250px ;
    margin-top: 30px;
    margin-left: 30px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
}

h4 {
    font-size: 16px;
}

div {
    font-weight: 700;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form p {
    background-color: rgb(193, 193, 193);
    padding: 4px;
}

form input {
    width: 50%;
    font-family: 'JetBrains Moo', 'IBM Plex Mono', monospace;
}

button {
    padding: 4px;
    text-align: center;
    width: 70px;
    font-family: 'JetBrains Moo', 'IBM Plex Mono', monospace;
    margin-bottom: 10px;
}

label, input, button, p {
    margin-top: 8px;
}